<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
</head>
<body style="background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,0.8631827731092436) 0%, rgba(148,187,233,0.6250875350140056) 100%);">
 <div class="ui centered grid">
     <div class="ui column four wide">
         <h2 class="ui header">
             <div class="content center">
                 Inscription
             </div>
         </h2>
         <form class="ui form" action="@{/process_register}" method="post">
             <div class="ui basic segment">
                 <div class="field">
                     <div class="ui left icon input">
                         <i class="user icon"></i>
                         <input type="text" name="nom" placeholder="nom">
                     </div>
                 </div>
                 <div class="field">
                     <div class="ui left icon input">
                         <i class="user icon"></i>
                         <input type="text" name="prenom" placeholder="prenom">
                     </div>
                 </div>
                 <div class="field">
                     <div class="ui left icon input">
                         <i class="user secret icon"></i>
                         <input type="text" name="pseudo" placeholder="pseudo">
                     </div>
                 </div>
                 <div class="field">
                     <div class="ui left icon input">
                         <i class="phone alternate icon"></i>
                         <input type="tel" name="tel" placeholder="tel">
                     </div>
                 </div>
                 <div class="field">
                     <div class="ui left icon input">
                         <i class="house user icon"></i>
                         <input type="text" name="adresse" placeholder="adresse">
                     </div>
                 </div>
                 <div class="field">
                     <div class="ui left icon input">
                         <i class="user icon"></i>
                         <input type="text" name="email" placeholder="Adresse mail">
                     </div>
                 </div>
                 <div class="field">
                     <div class="ui left icon input">
                         <i class="lock icon"></i>
                         <input type="password" name="password" placeholder="mot de passe">
                     </div>
                 </div>
                 <div class="ui blue submit button">Inscription</div>
             </div>
         </form>
     </div>
 </div>
</body>
</html>